body {
	font-family: Arial, sans-serif;
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
  }
  
  h1 {
	text-align: center;
  }
  
  .row {
	display: flex;
  }
  
  .col-60 {
	width: 60%;
	padding: 20px;
	box-sizing: border-box;
  }
  
  .col-40 {
	width: 40%;
	padding: 20px;
	box-sizing: border-box;
  }
/* body {
	font: Arial;
}

.headers {
	text-align: center;
}
  
.columns {
	display: flex;
}
  
.left {
	width: 60%;
}
  
.right {
	width: 40%;
}

#point {
	fill: blue;
	stroke: none;
}

#x-axis, #y-axis {
	stroke: black;
	stroke-width: 2px;
}

.highlight {
	fill: red;
	stroke: none;
}

.clicked {
	stroke: black;
	stroke-width: 2px;
} */